body{
  max-width: 1100px; margin: 0px auto; padding: 16px;
}
.keen-slider {
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.mt-3{
  margin-top: 10px;
}
@media (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
